@media (max-width: 1140px) {
  .services__item:hover {
    width: 450px;
  }
}
@media (max-width: 1024px) {
  .header__auto {
    width: 80%;
  }

  .services {
    padding-top: 250px;
  }
  .services__inner {
    flex-wrap: wrap;
  }
  .services__list {
    order: -1;
    margin-bottom: 30px;
    width: 100%;
  }
  .services__item {
    width: 100%;
  }
  .services__item:hover {
    width: 100%;
  }
  .services__contant {
    width: 100%;
    margin-right: 0;
  }

  .benefits__img {
    display: none;
  }
}
@media (max-width: 900px) {
  .phone {
    font-size: 24px;
    line-height: 36px;
  }

  .header__title {
    font-size: 54px;
    line-height: 74px;
  }
  .header__subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .header__social {
    padding: 30px 0 20px 53px;
  }

  .contacts__inner {
    display: block;
    text-align: center;
  }
  .contacts__list {
    margin-bottom: 30px;
  }
  .contacts__input {
    width: 100%;
  }
  .contacts__btn {
    margin-top: 20px;
  }
  .contacts__title {
    text-align: center;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .benefits__inner {
    text-align: center;
  }
  .benefits__list {
    padding: 25px 15px;
  }
  .benefits__item {
    width: 100%;
  }
  .benefits__title {
    margin-left: 0;
  }

  .newBenefits__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "block1" "block2" "block4" "block3" "block5" "block6";
  }

  .block1 {
    grid-area: block1;
  }

  .block2 {
    grid-area: block2;
  }

  .block3 {
    grid-area: block3;
  }

  .block4 {
    grid-area: block4;
  }

  .block5 {
    grid-area: block5;
  }

  .block6 {
    grid-area: block6;
  }
}
@media (max-width: 650px) {
  .footer__inner {
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    padding: 20px 0;
    text-align: center;
  }
  .footer__social {
    width: 100%;
    justify-content: center;
    margin: 25px 0;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }

  .header__contant {
    padding-top: 0px;
    text-align: center;
  }
  .header__title {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
  }
  .header__social {
    padding: 30px 0 20px 0px;
  }

  .social {
    justify-content: center;
  }

  .services {
    padding-top: 150px;
  }
  .services__contant {
    text-align: center;
  }
  .services__item::before {
    top: 5px;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .title::after {
    display: none;
  }

  .benefits__item-num {
    font-size: 28px;
    line-height: 36px;
  }

  .carousel__item-img {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .header__top {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .header__title {
    margin-bottom: 20px;
  }
  .header__auto {
    position: static;
    width: 100%;
  }

  .logo {
    margin-bottom: 20px;
    width: 100%;
  }

  .services {
    padding-top: 50px;
  }
  .services__item {
    padding: 10px 15px 10px 60px;
  }
  .services__item::before {
    left: 11px;
  }

  .services__inner,
.benefits,
.carousel {
    margin-bottom: 50px;
  }

  .button--decor::before {
    right: -50px;
  }
  .button--decor::after {
    margin-left: 110px;
  }

  .button--decor::before,
.button--decor::after {
    display: none;
  }

  .carousel .slick-dots button {
    width: 10px;
  }

  .contacts__form {
    padding: 50px 10px 57px;
  }
}
@media (max-width: 340px) {
  .header__title {
    font-size: 44px;
    line-height: 50px;
  }
}

/*# sourceMappingURL=media.css.map */
